.c-bigbanner
    .c-inner
        .c-bigbanner__text
            h1 
                small Lorem ipsum dolor
                | Lorem ipsum dolor sit amet
    .c-bigbanner__image
        img(src="img/_home-slide-thumb.png")