//- Default Template
doctype html
html(lang="es")
	block vars
		- var pageTitle = 'Lata Digital'

	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title #{pageTitle}
		include ../partials/_favicon.pug
		// inject:css
		// endinject
		link(rel="stylesheet" href="css/main.min.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800")
		script(defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous")
		script(src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js")

	body
		block header
			include ../partials/_header.pug

		main(role="main")
			block content

		block scripts
			script(src="js/libs/bundle.js")
			// inject:js
			// endinject
			script(src="js/main.min.js")

		block foot
			include ../partials/_footer.pug

